In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("report.csv")
df.head()

   cnty_fips            display_name  Value
0          0                      US  216.3
1       2013  "Aleutians East, (AK)"   95.1
2       2016  "Aleutians West, (AK)"   89.8
3       2020       "Anchorage, (AK)"  177.0
4       2050          "Bethel, (AK)"  263.4

In [3]:
df.rename(columns={"cnty_fips":"FIPS"},inplace=True)
df.head()

   FIPS            display_name  Value
0     0                      US  216.3
1  2013  "Aleutians East, (AK)"   95.1
2  2016  "Aleutians West, (AK)"   89.8
3  2020       "Anchorage, (AK)"  177.0
4  2050          "Bethel, (AK)"  263.4

In [4]:
df.rename(columns={"Value":"cardio_death"},inplace=True)

In [5]:
df.rename(columns={"display_name":"county"},inplace=True)
df.rename(columns={"county":"State"},inplace=True)

In [6]:
len(df)

3152

In [7]:
import numpy as np
df.replace(to_replace=-1,value=np.nan,inplace=True)

In [8]:
import re
states = {"(\(AL\))":"Alabama","(\(AK\))":"Alaska","(\(AZ\))":"Arizona","(\(AR\))":"Arkansa"
         ,"(\(CA\))":"California","(\(CO\))":"Colorado","(\(CT\))":"Connecticut","(\(DE\))":"Delaware"
         ,"(\(DC\))":"District of Columbia","(\(FL\))":"Folorida","(\(GA\))":"Georgia","(\(HI\))":"Hawaii"
         ,"(\(ID\))":"Idaho","(\(IL\))":"Illinois","(\(IN\))":"Indiana","(\(IA\))":"Iowa","(\(KS\))":"Kansas"
         ,"(\(KY\))":"Kentucky","(\(LA\))":"Louisiana","(\(ME\))":"Maine","(\(MD\))":"Maryland"
         ,"(\(MA\))":"Massachusetts","(\(MI\))":"Michigan","(\(MN\))":"Minnesota","(\(MS\))":"Mississippi"
         ,"(\(MO\))":"Missouri","(\(MT\))":"Montana","(\(NE\))":"Nebraska","(\(NV\))":"Nevada","(\(NH\))":"New Hampshire"
         ,"(\(NJ\))":"New Jersey","(\(NM\))":"New Mexico","(\(NY\))":"New York","(\(NC\))":"North Carolina"
         ,"(\(ND\))":"North Dakota","(\(OH\))":"Ohio","(\(OK\))":"Oklahoma","(\(OR\))":"Oregon","(\(PA\))":"Pennsylvania"
         ,"(\(RI\))":"Rhode Island","(\(SC\))":"South Carolina","(\(SD\))":"South Dakota","(\(TN\))":"Tennessee","(\(TX\))":"Texas"
         ,"(\(UT\))":"Utah","(\(VT\))":"Vermont","(\(VA\))":"Virginia","(\(WA\))":"Washington","(\(WV\))":"West Virginia"
         ,"(\(WI\))":"Wisconsin","(\(WY\))":"Wyoming","(\(PR\))":"Puerto Rico"}
df.replace(states,regex=True,inplace=True)
df.head()

   FIPS                     State  cardio_death
0     0                        US         216.3
1  2013  "Aleutians East, Alaska"          95.1
2  2016  "Aleutians West, Alaska"          89.8
3  2020       "Anchorage, Alaska"         177.0
4  2050          "Bethel, Alaska"         263.4

In [9]:
df.replace(regex=r"\"",value="",inplace=True)
df.head()

   FIPS                   State  cardio_death
0     0                      US         216.3
1  2013  Aleutians East, Alaska          95.1
2  2016  Aleutians West, Alaska          89.8
3  2020       Anchorage, Alaska         177.0
4  2050          Bethel, Alaska         263.4

In [10]:
cancer_df = pd.read_csv("../cancer_dataset/cancer_per_county.csv")

In [11]:
cancer_df.head()

,FIPS,State,Rate,bladder,brain,breast,breast_insitu,cervix,colon,esophagus,...,lung_range,melanoma_range,non-hudgkin lymphoma_range,oral cavity_range,ovay_range,pancreas_range,prostate_range,stomach_range,thyroid_range,uteras_range
0,0,US (SEER+NPCR),449.4,19.4,6.4,128.1,29.4,7.7,33.0,1.8,...,0.3,0.2,0.2,0.1,0.1,0.1,0.5,0.1,0.1,0.3
1,12125,"Union County, Florida",1204.0,42.7,0.0,195.3,0.0,0.0,0.0,0.0,...,75.4,0.0,0.0,0.0,0.0,0.0,92.4,26.7,0.0,0.0
2,19147,"Palo Alto County, Iowa",659.2,27.9,0.0,148.6,0.0,0.0,0.0,0.0,...,63.6,0.0,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0
3,31009,"Blaine County, Nebraska",636.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21071,"Floyd County, Kentucky",620.5,19.2,7.2,144.9,25.2,20.3,60.9,0.0,...,39.9,19.6,16.8,0.0,0.0,15.3,38.5,0.0,17.7,22.1

In [12]:
cancer_df.rename(columns={"Rate":"total_cancer"},inplace=True)

In [13]:
len(cancer_df)

3144

In [14]:
cancer_cardio_df = df.merge(cancer_df,on="FIPS")

In [15]:
cancer_cardio_df.head(20)

,FIPS,State_x,cardio_death,State_y,total_cancer,bladder,brain,breast,breast_insitu,cervix,...,lung_range,melanoma_range,non-hudgkin lymphoma_range,oral cavity_range,ovay_range,pancreas_range,prostate_range,stomach_range,thyroid_range,uteras_range
0,0,US,216.3,US (SEER+NPCR),449.4,19.4,6.4,128.1,29.4,7.7,...,0.3,0.2,0.2,0.1,0.1,0.1,0.5,0.1,0.1,0.3
1,2013,"Aleutians East, Alaska",95.1,"Aleutians East Borough, Alaska",142.2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2016,"Aleutians West, Alaska",89.8,"Aleutians West Census Area, Alaska",378.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020,"Anchorage, Alaska",177.0,"Anchorage Borough, Alaska",440.1,17.9,7.1,134.8,26.3,8.1,...,10.9,5.8,6.5,3.6,4.7,5.4,17.6,4.9,4.0,8.4
4,2050,"Bethel, Alaska",263.4,"Bethel Census Area, Alaska",397.4,0.0,0.0,51.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,110.4,0.0,0.0,0.0
5,2060,"Bristol Bay, Alaska",NaN,"Bristol Bay Borough, Alaska",417.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2068,"Denali, Alaska",172.5,"Denali, Alaska",451.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2070,"Dillingham, Alaska",273.5,"Dillingham Census Area, Alaska",416.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2090,"Fairbanks North Star, Alaska",209.0,"Fairbanks North Star, Alaska",386.3,16.0,5.7,131.1,26.9,0.0,...,21.1,11.1,12.5,0.0,0.0,10.6,26.3,0.0,0.0,14.1
9,2100,"Haines, Alaska",152.4,"Haines Borough, Alaska",291.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2110,"Juneau, Alaska",154.3,"Juneau Borough, Alaska",391.4,13.1,0.0,117.6,23.7,0.0,...,30.6,22.2,0.0,0.0,0.0,0.0,46.1,0.0,0.0,26.1
11,2122,"Kenai Peninsula, Alaska",182.7,"Kenai Peninsula Borough, Alaska",426.7,25.0,6.4,122.2,21.3,0.0,...,22.1,0.0,12.6,0.0,0.0,10.9,27.6,0.0,10.6,13.7
12,2130,"Ketchikan Gateway, Alaska",196.1,"Ketchikan Gateway Borough, Alaska",463.8,32.4,0.0,122.6,0.0,0.0,...,54.4,0.0,0.0,0.0,0.0,0.0,60.9,0.0,0.0,0.0
13,2150,"Kodiak Island, Alaska",184.0,"Kodiak Island Borough, Alaska",402.9,0.0,0.0,118.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,72.8,0.0,0.0,0.0
14,2164,"Lake and Peninsula, Alaska",187.9,"Lake and Peninsula Borough, Alaska",488.6,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2170,"Matanuska-Susitna, Alaska",155.5,"Matanuska-Susitna Borough, Alaska",418.7,28.7,6.7,111.6,28.8,5.6,...,18.3,9.8,9.6,8.6,7.5,11.0,24.4,7.8,5.9,12.2
16,2180,"Nome, Alaska",310.0,"Nome Census Area, Alaska",488.5,0.0,0.0,135.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,2185,"North Slope, Alaska",170.3,"North Slope Borough, Alaska",435.0,0.0,0.0,0.0,0.0,0.0,...,149.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,2188,"Northwest Arctic, Alaska",272.9,"Northwest Arctic Borough, Alaska",415.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2220,"Sitka, Alaska",136.1,"Sitka Borough, Alaska",327.6,0.0,0.0,114.8,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,76.1,0.0,0.0,0.0

In [16]:
cancer_cardio_df.drop(columns=["State_y"],inplace=True)
cancer_cardio_df.rename(columns={"State_x":"County"},inplace=True)

In [17]:
cancer_cardio_df.head(10)

,FIPS,County,cardio_death,total_cancer,bladder,brain,breast,breast_insitu,cervix,colon,...,lung_range,melanoma_range,non-hudgkin lymphoma_range,oral cavity_range,ovay_range,pancreas_range,prostate_range,stomach_range,thyroid_range,uteras_range
0,0,US,216.3,449.4,19.4,6.4,128.1,29.4,7.7,33.0,...,0.3,0.2,0.2,0.1,0.1,0.1,0.5,0.1,0.1,0.3
1,2013,"Aleutians East, Alaska",95.1,142.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2016,"Aleutians West, Alaska",89.8,378.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020,"Anchorage, Alaska",177.0,440.1,17.9,7.1,134.8,26.3,8.1,35.5,...,10.9,5.8,6.5,3.6,4.7,5.4,17.6,4.9,4.0,8.4
4,2050,"Bethel, Alaska",263.4,397.4,0.0,0.0,51.0,0.0,0.0,79.0,...,0.0,0.0,0.0,0.0,0.0,0.0,110.4,0.0,0.0,0.0
5,2060,"Bristol Bay, Alaska",NaN,417.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2068,"Denali, Alaska",172.5,451.1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2070,"Dillingham, Alaska",273.5,416.6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2090,"Fairbanks North Star, Alaska",209.0,386.3,16.0,5.7,131.1,26.9,0.0,33.1,...,21.1,11.1,12.5,0.0,0.0,10.6,26.3,0.0,0.0,14.1
9,2100,"Haines, Alaska",152.4,291.4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#counties that are in cardio dataset and NOT in cancer dataset
#all_data = df.merge(cancer_df.drop_duplicates(), on="FIPS", 
#                   how='left', indicator=True)
#all_data[all_data['_merge']=="left_only"]['county']

In [19]:
cancer_cardio_df.to_csv("../cardio_cancer_per_county.csv",index=False)