In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
cancer_list=["bladder","brain","breast","breast_insitu","cervix","colon","esophagus","kidney and renal","leukemia",
            "liver","lung","melanoma","non-hudgkin lymphoma","oral cavity","ovay","pancreas","prostate","stomach","thyroid",
             "uteras"]

In [3]:
len(cancer_list)

20

In [4]:
data1 = pd.read_csv("incd.csv",skiprows=8,skipfooter=36)#,index_col=1)
#data1.sort_values("State",ascending=True,inplace=True)
data1.head()

C:\Users\afrap\AppData\Local\Temp\ipykernel_33484\3308455665.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data1 = pd.read_csv("incd.csv",skiprows=8,skipfooter=36)#,index_col=1)

,State,FIPS,"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,CI*Rank([rank note]),Lower CI (CI*Rank),Upper CI (CI*Rank),Average Annual Count,Recent Trend,Recent 5-Year Trend ([trend note]) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,US (SEER+NPCR)(1),0,449.4,449.1,449.7,N/A,N/A,N/A,1728431,stable,-0.9,-2.0,0.2
1,"Union County, Florida(6)",12125,1204,1132.8,1278.8,N/A,1,1,230,stable,0.4,-0.4,1.3
2,"Palo Alto County, Iowa(7)",19147,659.2,592.9,731.4,N/A,1,11,83,stable,0.6,-0.2,1.4
3,"Blaine County, Nebraska(6)",31009,636.7,387.2,1010.5,N/A,1,88,5,stable,3.2,-0.3,6.9
4,"Floyd County, Kentucky(7)",21071,620.5,587.9,654.6,N/A,1,22,294,stable,0.1,-0.4,0.6

In [5]:
data1.columns

Index(['State', ' FIPS',
       'Age-Adjusted Incidence Rate([rate note]) - cases per 100,000',
       'Lower 95% Confidence Interval', 'Upper 95% Confidence Interval',
       'CI*Rank([rank note])', 'Lower CI (CI*Rank)', 'Upper CI (CI*Rank)',
       'Average Annual Count', 'Recent Trend',
       'Recent 5-Year Trend ([trend note]) in Incidence Rates',
       'Lower 95% Confidence Interval.1', 'Upper 95% Confidence Interval.1'],
      dtype='object')

In [6]:
data1.rename(columns={" FIPS":"FIPS"},inplace=True)
data = data1[["FIPS","State","Age-Adjusted Incidence Rate([rate note]) - cases per 100,000","Lower 95% Confidence Interval","Upper 95% Confidence Interval"]]
data.head()

,FIPS,State,"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval
0,0,US (SEER+NPCR)(1),449.4,449.1,449.7
1,12125,"Union County, Florida(6)",1204,1132.8,1278.8
2,19147,"Palo Alto County, Iowa(7)",659.2,592.9,731.4
3,31009,"Blaine County, Nebraska(6)",636.7,387.2,1010.5
4,21071,"Floyd County, Kentucky(7)",620.5,587.9,654.6

In [7]:
data.dtypes

FIPS                                                             int64
State                                                           object
Age-Adjusted Incidence Rate([rate note]) - cases per 100,000    object
Lower 95% Confidence Interval                                   object
Upper 95% Confidence Interval                                   object
dtype: object

In [8]:
data.rename(columns={"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000":"Rate","Lower 95% Confidence Interval":"lower","Upper 95% Confidence Interval":"upper"},inplace=True)
data.head()

C:\Users\afrap\AppData\Local\Temp\ipykernel_33484\612027640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000":"Rate","Lower 95% Confidence Interval":"lower","Upper 95% Confidence Interval":"upper"},inplace=True)

    FIPS                       State    Rate   lower    upper
0      0           US (SEER+NPCR)(1)  449.4    449.1    449.7
1  12125    Union County, Florida(6)   1204   1132.8   1278.8
2  19147   Palo Alto County, Iowa(7)  659.2    592.9    731.4
3  31009  Blaine County, Nebraska(6)  636.7    387.2   1010.5
4  21071   Floyd County, Kentucky(7)  620.5    587.9    654.6

In [9]:
data.columns

Index(['FIPS', 'State', 'Rate', 'lower', 'upper'], dtype='object')

In [10]:
for (ind,item) in enumerate(cancer_list): 
    name = str("incd ("+ str(ind+1)+").csv") 
    df = pd.read_csv(name,skiprows=8,skipfooter=36,engine='python')#,index_col=1,engine='python')
    df.rename(columns={" FIPS":"FIPS"},inplace=True)
    df = df[["FIPS","State","Age-Adjusted Incidence Rate([rate note]) - cases per 100,000","Lower 95% Confidence Interval","Upper 95% Confidence Interval"]]
    df.rename(columns={"Age-Adjusted Incidence Rate([rate note]) - cases per 100,000":item,"Lower 95% Confidence Interval":str("lower"+item),
                       "Upper 95% Confidence Interval":str("upper"+item)},inplace=True)
    data = data.merge(df)

In [11]:
data.head()

,FIPS,State,Rate,lower,upper,bladder,lowerbladder,upperbladder,brain,lowerbrain,...,upperprostate,stomach,lowerstomach,upperstomach,thyroid,lowerthyroid,upperthyroid,uteras,loweruteras,upperuteras
0,0,US (SEER+NPCR)(1),449.4,449.1,449.7,19.4,19.3,19.4,6.4,6.4,...,110.2,8.5,8.5,8.6,7.2,7.2,7.3,27.7,27.5,27.8
1,12125,"Union County, Florida(6)",1204,1132.8,1278.8,42.7,30.1,59.2,*,*,...,350.3,23.4,13.3,40,*,*,*,*,*,*
2,19147,"Palo Alto County, Iowa(7)",659.2,592.9,731.4,27.9,16.3,45.8,*,*,...,243.6,*,*,*,*,*,*,*,*,*
3,31009,"Blaine County, Nebraska(6)",636.7,387.2,1010.5,*,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
4,21071,"Floyd County, Kentucky(7)",620.5,587.9,654.6,19.2,13.9,25.9,7.2,4.1,...,124.3,*,*,*,15.8,8.7,26.4,34,24.4,46.5

In [12]:
data.dtypes

FIPS             int64
State           object
Rate            object
lower           object
upper           object
                 ...
lowerthyroid    object
upperthyroid    object
uteras          object
loweruteras     object
upperuteras     object
Length: 65, dtype: object

In [13]:
data.replace(to_replace=r'.*\*\.*',value=0,inplace=True,regex=True)
#data.replace(to_replace=r'.*[data not found].*',value=np.nan,inplace=True,regex=True)
#data.replace(to_replace=r'.*[data not available].*',value=np.nan,inplace=True,regex=True)
#data.replace(to_replace=r'.*\N\/A\.*',value=np.nan,inplace=True,regex=True)
#data.replace(to_replace=r'.*\3 or fewer\.*',value=np.nan,inplace=True,regex=True)

In [14]:
data.head()

,FIPS,State,Rate,lower,upper,bladder,lowerbladder,upperbladder,brain,lowerbrain,...,upperprostate,stomach,lowerstomach,upperstomach,thyroid,lowerthyroid,upperthyroid,uteras,loweruteras,upperuteras
0,0,US (SEER+NPCR)(1),449.4,449.1,449.7,19.4,19.3,19.4,6.4,6.4,...,110.2,8.5,8.5,8.6,7.2,7.2,7.3,27.7,27.5,27.8
1,12125,"Union County, Florida(6)",1204,1132.8,1278.8,42.7,30.1,59.2,0,0,...,350.3,23.4,13.3,40,0,0,0,0,0,0
2,19147,"Palo Alto County, Iowa(7)",659.2,592.9,731.4,27.9,16.3,45.8,0,0,...,243.6,0,0,0,0,0,0,0,0,0
3,31009,"Blaine County, Nebraska(6)",636.7,387.2,1010.5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,21071,"Floyd County, Kentucky(7)",620.5,587.9,654.6,19.2,13.9,25.9,7.2,4.1,...,124.3,0,0,0,15.8,8.7,26.4,34,24.4,46.5

In [15]:
def clean_c(column):
    for i in range(len(data[column])):
        if ((str(data[column].iloc[i]).strip() == "data not available")
           or (str(data[column].iloc[i]).strip() == "N/A")):
            data[column].iloc[i] = np.nan
        elif (str(data[column].iloc[i]).strip() == "3 or fewer"):
            data[column].iloc[i] = 3.0
    data[column] = data[column].astype("float")

In [16]:
for i in data.columns[2:]:
    clean_c(i)

C:\Users\afrap\AppData\Local\Temp\ipykernel_33484\3987829799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column].iloc[i] = np.nan

In [17]:
data.head()

,FIPS,State,Rate,lower,upper,bladder,lowerbladder,upperbladder,brain,lowerbrain,...,upperprostate,stomach,lowerstomach,upperstomach,thyroid,lowerthyroid,upperthyroid,uteras,loweruteras,upperuteras
0,0,US (SEER+NPCR)(1),449.4,449.1,449.7,19.4,19.3,19.4,6.4,6.4,...,110.2,8.5,8.5,8.6,7.2,7.2,7.3,27.7,27.5,27.8
1,12125,"Union County, Florida(6)",1204.0,1132.8,1278.8,42.7,30.1,59.2,0.0,0.0,...,350.3,23.4,13.3,40.0,0.0,0.0,0.0,0.0,0.0,0.0
2,19147,"Palo Alto County, Iowa(7)",659.2,592.9,731.4,27.9,16.3,45.8,0.0,0.0,...,243.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31009,"Blaine County, Nebraska(6)",636.7,387.2,1010.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21071,"Floyd County, Kentucky(7)",620.5,587.9,654.6,19.2,13.9,25.9,7.2,4.1,...,124.3,0.0,0.0,0.0,15.8,8.7,26.4,34.0,24.4,46.5

In [18]:
data["Rate_range"] = data["upper"] - data["lower"]
data.drop(columns=["upper","lower"],inplace=True)

In [19]:
for i in cancer_list:
    lower = str("lower"+i)
    upper = str("upper"+i)
    name = str(i + "_range")
    data[name] = data[upper] - data[lower]
    data.drop(columns=[upper,lower],inplace=True)

In [20]:
data.head()

,FIPS,State,Rate,bladder,brain,breast,breast_insitu,cervix,colon,esophagus,...,lung_range,melanoma_range,non-hudgkin lymphoma_range,oral cavity_range,ovay_range,pancreas_range,prostate_range,stomach_range,thyroid_range,uteras_range
0,0,US (SEER+NPCR)(1),449.4,19.4,6.4,128.1,29.4,7.7,33.0,1.8,...,0.3,0.2,0.2,0.1,0.1,0.1,0.5,0.1,0.1,0.3
1,12125,"Union County, Florida(6)",1204.0,42.7,0.0,195.3,0.0,0.0,0.0,0.0,...,75.4,0.0,0.0,0.0,0.0,0.0,92.4,26.7,0.0,0.0
2,19147,"Palo Alto County, Iowa(7)",659.2,27.9,0.0,148.6,0.0,0.0,0.0,0.0,...,63.6,0.0,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0
3,31009,"Blaine County, Nebraska(6)",636.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21071,"Floyd County, Kentucky(7)",620.5,19.2,7.2,144.9,25.2,20.3,60.9,0.0,...,39.9,19.6,16.8,0.0,0.0,15.3,38.5,0.0,17.7,22.1

In [21]:
data["State"] = data["State"].replace(to_replace=r"\([0-9]\)",value="",regex=True)

In [22]:
data.head()

,FIPS,State,Rate,bladder,brain,breast,breast_insitu,cervix,colon,esophagus,...,lung_range,melanoma_range,non-hudgkin lymphoma_range,oral cavity_range,ovay_range,pancreas_range,prostate_range,stomach_range,thyroid_range,uteras_range
0,0,US (SEER+NPCR),449.4,19.4,6.4,128.1,29.4,7.7,33.0,1.8,...,0.3,0.2,0.2,0.1,0.1,0.1,0.5,0.1,0.1,0.3
1,12125,"Union County, Florida",1204.0,42.7,0.0,195.3,0.0,0.0,0.0,0.0,...,75.4,0.0,0.0,0.0,0.0,0.0,92.4,26.7,0.0,0.0
2,19147,"Palo Alto County, Iowa",659.2,27.9,0.0,148.6,0.0,0.0,0.0,0.0,...,63.6,0.0,0.0,0.0,0.0,0.0,100.9,0.0,0.0,0.0
3,31009,"Blaine County, Nebraska",636.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,21071,"Floyd County, Kentucky",620.5,19.2,7.2,144.9,25.2,20.3,60.9,0.0,...,39.9,19.6,16.8,0.0,0.0,15.3,38.5,0.0,17.7,22.1

In [23]:
data.to_csv("cancer_per_county.csv",index=False,na_rep="NaN")